name: Auto Build Test

on:
  push:
    branches: [ "bepinex5" ]
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: windows-latest

    steps:
    # Checkout the repository
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    # Setup .NET SDK
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    
    # Restore dependencies
    - name: Restore dependencies
      run: dotnet restore --locked-mode
    
    # Build the project
    - name: Build HsMod
      run: dotnet build --configuration Release --no-restore
